<h1>weather Report</h1>

<%= form_tag ('info') do%>
	<%= label_tag 'City' %>
	<%= text_field_tag 'city_name' %>
	<%= submit_tag 'Get Data'%>
<%end%>


<%= link_to 'Contact Us', static_pages_Contactus_path %>

<%= link_to 'Home', static_pages_Home_path %>